<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" style="font-weight: bolder">
      <li class="nav-item">
        <a class="nav-link" href="/sms">SMS</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/list">Pre Registered List</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/registration">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user-list">Spot Registered List</a>
      </li>

      <li style="margin-left:700px;" class="nav-item">
        <form action="/update" method="GET">
          <input type="search" name="mobilex" placeholder="Enter Mobile No" />
          <button type="submit" class="btn btn-dark text-white">
            <b><i>Search</i></b>
          </button>
        </form>
      </li>
    </ul>
  </div>
</nav>
